{% extends 'base.html' %}

{% block extrahead %}
<script>
   window.addEventListener( 'load', function () {
       $("#light-slider").lightSlider({
            gallery:true,
            item:1,
            thumbItem:9,
        });
    } );
</script>
{% endblock %}

{% block header %}
<h1>{% block title %}Thing {{thing['id']}}: {{thing['name']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="width:50%">
<ul id="light-slider" style="width:50%">
	{% for i in images_resolved %}
	<li data-thumb="{{i}}"><img height=450 src="{{i}}" /></li>
	{% endfor %}
</ul>
</div>
<div>
<ul>
    <li><a href="/zip/{{thing['id']}}">Download</a></li>
    <li>Added {{thing['added'].humanize()}} ({{thing['added']}})</li>
    <li>In {{thing['collect_count']}} collections</li>
    <li>Liked {{thing['like_count']}} times</li>
    <li>Downloaded {{thing['download_count']}} times</li>
    <li>License: {{thing['license']}}</li>
</ul>
<p>{{thing['details']|safe}}</p>
<h1>Comments</h1>
{# Process comments recursively #}
{%- macro threaded_comments(n, level) %}
{% for c in n %}
    <div class="thing_comment" style="margin-left: {{level*20}}px;">
        <p class="thing_comment_date">{{c['add_date']}}</p>
        <p>{{c['body']}}</p>
        <p>{{c['user_id']}}</p>
        {% if 'user_id' in c %}
            {# Pull avatar #}
            <p><img src="/avatars/{{c['user_id']}}" /><span>{{comments['users'][c['user_id']|string]['user_name']}}</span></p>
        {% endif %}
        {% if c['id']|string in comments['comments'] %}
            {{ threaded_comments(comments['comments'][c['id']|string], level+1) }}
        {% endif %}
    </div>
{% endfor %}
{%- endmacro %}

{{ threaded_comments(comments['comments'][''], 0) }}
<pre>
{{ ppcontent }}
{{ ppcomments }}
{{ ppimages }}
</pre>
</div>
{% endblock %}
